* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
  height: 100%;
}

a {
  text-decoration: none;
  color: #393939;
}

.nav {
  position: sticky;
  top: 0;
  display: grid;
  height: 80px;
  grid-template-columns: 4fr 8fr;
  align-items: center;
  box-shadow: 1px 3px 15px -5px rgba(0,0,0,0.3);
  padding: 0 6%;
  background-color: #FFF;
  z-index: 5;
}

ul {
  list-style-type: none;
  justify-self: end;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1.75vw;
}

li a:hover {
  color: #FF596C;
}

.google-btn button {
  border: none;
  font-size: 16px;
  background: none;
  cursor: pointer;
}

.google-btn button:focus {
  outline: none;
}

.google-btn button:hover {
  color: #FF596C;
}

.menu ul, 
.menu input, 
.menu .closer, 
.menu input:checked ~ .opener{
    display:none;
}
.menu input:checked ~ ul,
.menu input:checked ~ .closer{
    display:block;
}

.nav-sub-menu {
  position: absolute;
  margin-top: 10px;
  background-color: #FFF;
  box-shadow: 1px 3px 15px -5px rgba(0,0,0,0.3);
}

.nav-sub-menu li {
  padding: 15px 25px;
}

.nav-sub-menu li:nth-child(1) {
  border-bottom: 1px #EAEAEA solid;
}

.nav-sub-menu li:nth-child(2) {
  border-bottom: 1px #EAEAEA solid;
}

.nav label {
  cursor: pointer;
  color: #393939;
}

.nav label:hover {
  color: #FF596C;
}


.footer {
  position: fixed;
  margin-top: 20px;
  bottom: 0;
  display: grid;
  height: 40px;
  width: 100%;
  grid-template-columns: 12fr;
  align-items: center;
  justify-items: center;
  box-shadow: 1px 3px 15px -5px rgba(0,0,0,0.3);
  padding: 0 6%;
  font-size: 12px;
  background-color: #FFF;
  color: #393939;
  z-index: 5;
}

.blog-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  justify-content: center;
  column-gap: 20px;
  padding: 0 6%;
  z-index: 1;
  margin-bottom: 80px;
}

.post-card {
  display: grid;
  height: 360px;
  grid-template-rows: 12fr;
  box-shadow: 1px 3px 15px -5px rgba(0,0,0,0.3);
  margin-top: 20px;
  background-color: #FFF;
  border-radius: 8px;
  transition: .1s ease-in-out;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0.9;
  transition: .1s ease-in-out;
  z-index: 3;
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));
  display: grid;
  grid-template-rows: 12fr;
  border-radius: 8px;
  cursor: pointer;
}

.overlay:hover {
  opacity: 1;
}

.post-card:hover {
  transform: translateY(-2%);
  box-shadow: 1px 3px 15px -5px rgba(0,0,0,0.8);
}

.card-header .post-title {
  margin-top: 0px;
  color: #FFF;
}

.post-card .card-header {
  justify-self: start;
  padding: 0 20px;
  align-self: end;
}

.post-category {
  color: #FF596C;
  font-weight: 600;
}

.post-card .card-body {
  position: relative;
  background-size: cover !important;
  justify-self: start;
  border-radius: 8px;
  width: 100%;
}

.post-card .card-footer {
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  justify-self: center;
  align-items: center;
}

.post-card .card-footer h5 {
  color: #EAEAEA;
  font-weight: normal;
}

.post-card .card-footer .post-interactions {
  display: grid;
  grid-template-columns: 12fr;
  margin-bottom: 0;
}

.post-card .card-footer .post-likes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: end;
}

.post-card .card-footer .post-likes p {
  color: #EAEAEA;
  font-weight: normal;
}

.post-card .card-footer a {
  text-align: center;
  background-color: #EAEAEA;
  padding: 10px 5px;
  width: 100%;
  border-radius: 3px;
  font-size: 14px;
}

.card-footer button {
  text-align: center;
  background-color: #EAEAEA;
  padding: 10px 5px;
  width: 100%;
  border-radius: 3px;
  border: none;
  font-size: 14px;
  cursor: pointer;
}

.post-page {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 12fr;
  row-gap: 20px;
  margin: 30px auto 100px;
  padding: 0 6%;
  max-width: 1000px;
  z-index: 1;
  position: relative;
}

.post-page .post-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.post-page .post-interactions {
  display: grid;
  grid-template-columns: 12fr;
  margin-bottom: 70px;
}

.post-page .post-likes {
  display: grid;
  grid-template-columns: 20px 60px 20px 60px;
  align-items: center;
  justify-items: start;
}

.post-page .post-likes p {
  color: #393939;
  margin: 0 5px;
  font-weight: 400;
  font-size: 1.025rem;
}

.post-header {
  justify-self: start;
}

.post-header .post-category {
  font-size: 1.025rem;
  text-transform: uppercase;
}

.post-header .post-title {
  font-size: 2.125rem;
}

.post-author {
font-weight: 600;
font-size: 0.9rem;
color: #FF596C;
}

.post-date {
  font-weight: 400;
  font-size: 0.9rem;
  color: #393939;
}

.post-description {
  line-height: 1.8;
  text-align: left;
  font-size: 1.025rem;
  color: #393939;
}

.post-page .more-posts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-content: center;
  column-gap: 20px;
  z-index: 1;
  margin-bottom: 80px;
}

.add-post, .edit-post {
  padding: 0 100px;
  margin: 0 auto;
  width: 75%;  
  margin-top: 20px;
}

.add-post form , .edit-post form {
  display: grid;
  row-gap: 20px;
  width: 100%;
  z-index: 1;
}

.add-post form input, .edit-post form input {
  align-self: baseline;
}

form input, textarea {
  border: none;
  border-radius: 3px;
  box-shadow: 1px 3px 15px -5px rgba(0,0,0,0.3);
  width: 100%;
  padding: 10px;
} 

.add-post form button, .edit-post form button {
  width: 20%;
  padding: 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.manage-post-page {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 12fr;
  row-gap: 20px;
  margin: 30px auto 100px;
  padding: 0 6%;
  max-width: 1000px;
  z-index: 1;
  position: relative;
}

.manage-post-page .post-detail {
  display: grid;
  grid-template-columns: 8fr 4fr;
  padding: 10px;
}

.action-btns {
  align-self: center;
  justify-self: end;
  display: grid;
  grid-template-columns: 6fr 6fr;
  column-gap: 20px;
}

.cta-button {
  padding: 10px 15px;
  border: none;
  background-color: #FFF;
  border-radius: 8px;
  cursor: pointer;
  color: #FFF;
  transition: .1s ease-in-out;
  font-size: 18px;
}

.cta-button:focus {
  outline: none;
}

.cta-button:hover {
  transform: translateY(-5%);
  box-shadow: 1px 3px 15px -5px rgba(0,0,0,0.3);
}